

@font-face {
  font-family: "Zen_Kaku_Gothic_New";
  src: url(./assets/fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Koulen";
  src: url(./assets/fonts/Koulen/Koulen-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Zen_Kaku_Gothic_New_Bold";
  src: url(./assets/fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Bold.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}

body {
  margin: 0 140px 0 140px;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Zen_Kaku_Gothic_New";
  height: 3000px;
  overflow-x: hidden;
}



